* {
  color: white !important;
  background-color: #141414 !important;
}

/* html{
  overflow-x: hidden
}
 */
header {
  margin-left: -0.65rem;
}

header a, footer {
  color: gray !important;
}

header a:hover, footer a:hover{
  color: white !important;
  transform: scale(1.01);
}

#floatingSelect{
  width: 6rem;
}

.carousel-inner {
  scroll-behavior: smooth;

}

.carousel-item a {
  margin: 0 0.5rem 0 0;
}

.carousel-item a:last-of-type {
  margin-right: 0;
}

.carousel-item a:hover,
.carousel-item img:hover {
  z-index: 1;
  transform: scale(1.01);
}

footer a {
  text-decoration: none;
  margin-right: 0.8rem;
  color: gray !important;
}

footer {
  flex-direction: column;
}

footer a svg {
  width: 1.5rem;
}

footer ul {
  list-style: none;
  padding: 0;
  margin-top: 0.7rem;
}

footer ul li {
  margin-bottom: 0.4rem;
  color: gray !important;
}

footer ul li button {
  color: gray !important;
  margin-top: 0.4rem;
}

footer ul li button:hover {
  background-color: rgb(149, 145, 145) !important;
  color: white !important;
}